#body{
    background:rgb(192, 182, 168);
  }
  /*3*/
  #maps{
    width:340px;
    height:400px;    
    margin:2px solid transparent;
    border-radius:8px;  
  }
  
  #distance,#time,#taxes{
    font-family:arial;
    font-weight: lighter;
    font-size: 15px;
    color:green;
    text-align: center;
  }
  
  #whatsapp{
    color:white;
  }
  
  #origins{
    width:320px;
  }
  #return{
      color:rgb(58, 52, 52);
  }